.tile
{
    width:245px;
    display:inline-block;
    vertical-align:top;
    padding-left:15px;
}

.tile-image
{
    width:242px;
    height:200px;
    max-height:200px;
    min-height:200px;
}

.tile-caption .title 
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tile img.thumbnail-image 
{
    width:200px;
    height:187px;
}

.tile-group-title
{
    margin-top:25px;
}