@model IEnumerable<InstantStore.Domain.Entities.ProductCategory>

<h3>@Html.ActionLink("All", "List", "Product", null, new { @class = "" })</h3>

@if (Model != null)
{
    foreach (var category in Model)
    {
        <h3>@if (category.URLAlias == ViewBag.SelectedCategory)
            {
                @category.Name
            }
            else
            {
                @Html.RouteLink(category.Name,
                        new
                        {
                            controller = "Product",
                            action = "List",
                            category = category.URLAlias,
                            page = 1
                        },
                        new
                        {
                            @class = ""
                        })
            }</h3>
    }
}
else
{
    <span>No category.</span>
}



