@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;

@model CategoryTreeItemViewModel

<script src="~/Scripts/bootstrap-treeview.min.js"></script>
<link href="~/Content/bootstrap-treeview.min.css" rel="stylesheet" />

<div id="page-tree"></div>
<script>
    var tree = function () {
        return @Html.Raw(Json.Encode(new []{ PageViewModel.CreateTreeNode(this.Model)}))
    }();

    $("#page-tree").treeview({
        data: tree,
        onNodeSelected: function (event, node) {
            if (node && node.id) {
                $(document).trigger("category-tree:selected", node.id);
            }
        }
    });

    window.setTimeout(function () {
        $("#page-tree").treeview('selectNode', 0);
    },
    100);
</script>