@using InstantStore.WebUI.Models;
@using InstantStore.WebUI.Resources;
@model Guid

<div class="image-container img-thumbnail">
    @using (Html.BeginCollectionItem("Images"))
    {
        <img class="img-thumbnail" src="~/Main/GetImage?id=@this.Model.ToString()" />
        @Html.HiddenFor(model => model)
        <a href="#" class="image-delete-overlay" title="@StringResource.admin_Delete">
            <img src="~/Image/close-icon.png" width="32" height="32"/>
        </a>
    }    
</div>