@using InstantStore.WebUI.Models;
@using InstantStore.WebUI.Resources;
@using InstantStore.WebUI.ViewModels;
@model Guid

<div class="image-container img-thumbnail">
    @using (Html.BeginCollectionItem("Images"))
    {
        @Html.Partial("ImageThumbnail", new ImageThumbnailViewModel { ThumbnailId = this.Model, Class = "img-thumbnail" })
        @Html.HiddenFor(model => model)
        <a href="#" class="image-delete-overlay" title="@StringResource.admin_Delete">
            <img src="@Url.Content("~/Image/close-icon.png")" width="16" height="16"/>
        </a>
    }    
</div>