@using InstantStore.WebUI.Models;
@using InstantStore.WebUI.Resources;
@model Guid

<div class="image-container img-thumbnail">
    @using (Html.BeginCollectionItem("Images"))
    {
        <img src="~/Main/GetImage?id=@this.Model.ToString()" />
        @Html.HiddenFor(model => model)    
    }    
</div>