@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model PageViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
@Html.Raw(this.Model.Text)
<div>
    <label>@StringResource.admin_PageAttachment</label>
    @if (this.Model.Attachment != null)
    {
        @Html.Partial("Attachment", this.Model.Attachment);
    }
</div>
