<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="InstantStore.Domain.Properties.Settings.InstantStoreConnectionLocal"
      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=InstantStore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="InstantStore.Domain.Properties.Settings.InstantStoreConnectionProd"
      connectionString="Data Source=OrionGalaxyData.db.12505678.hostedresource.com;Initial Catalog=OrionGalaxyData;User ID=OrionGalaxyData;Password=Password!1234"
      providerName="System.Data.SqlClient" />
    <add name="InstantStore.Domain.Properties.Settings.InstantStoreConnectionString1"
      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=InstantStore;Persist Security Info=True;User ID=InstantStoreAppLogin;Password=629A74D9-BE58-4EEB-8406-BAABDF8C5A47;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="InstantStore.Domain.Properties.Settings.InstantStoreConnectionString"
      connectionString="Data Source=(localdb);Initial Catalog=InstantStore;"
      providerName="System.Data.SqlClient" />
    <add name="InstantStore.Domain.Properties.Settings.InstantStoreConnectionString2"
      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=InstantStore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>