@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model AttachmentViewModel

@if (this.Model.AttachmentId != null && !string.IsNullOrEmpty(this.Model.AttachmentName))
{
    <p id="attachment-form">
        @if (this.Model.AttachmentIcon != null)
        {
            <img src="~/Image/@this.Model.AttachmentIcon" style="width:32px; height:32px" />
        }
        <a href="~/main/download?id=@this.Model.AttachmentId">@this.Model.AttachmentName</a>
    </p>
}
